#headtext{
    text-align: center;
}

#head{
    width: 40%;
    margin: auto;
    border-radius: 1em;
    font-weight: bolder;
    font-size: larger;
    text-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #00c3ff,
    0 0 80px #00c3ff,
    0 0 100px #00c3ff,
    0 0 150px #00c3ff;
    font-family: 'Dancing Script', cursive;
/* font-family: 'Neonderthaw', cursive; */
}

body{
    background-image: url("Haikyuu.jpg");
    background-size: cover;
    background-position: 48%;
}

.logo{
    width: 2rem;
    height: 2rem;
    margin: 2em 0.4em;
    margin-bottom: 0.5em;
    border-radius: 20%;
}

.subhead, .name, .details{
    text-align: center;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
}

.subhead h2{
    text-decoration: underline;
    font-size: 40px;
}

#logos{
    padding-left: 3em;
}


#pfp
{
    display: inline-block;
    margin-left: 25%;
    width: 50%;
    border-radius: 50%;
    transition: 1s;
}

#box{
    margin: 30px auto;
    padding: 1em;
    width: 25%;
    background-color: rgba(252, 252, 252, 0.377);
    border-radius: 2em;
    backdrop-filter: blur(2px);
    transition: 1s;
}

.subhead{   
    width: 75%;
    font-size: 20px;
    border-radius: 0.5em;
    margin: auto;
}

.name{
    border-radius: 0.5em;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    transition: 1s;
}

#head{
    margin-top: 2em;
}

.aboutme{
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 1em;
    padding: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-align: center;
    transition: 1s;
}

#edud{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    padding: 0.1em;
    width: 60%;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 1em;
    transition: 1s;
    /* box-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa; */
}

#edud h2{
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin:0px;
}

#box:hover{
    transform: translate(0,0px)  scale(1.05);
    background-color: rgba(0, 217, 255, 0.377);
    box-shadow: 40px 12px 2px 1px rgba(0, 0, 0, 0.377);
    /* box-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa; */
    backdrop-filter: blur(5px);
}

.logo:hover{
    transform: scale(1.2);
    box-shadow: 
    0 0 4px rgb(0, 255, 136),
    0 0 11px rgb(0, 255, 136),
    0 0 19px rgb(0, 255, 136),
    0 0 40px rgb(0, 255, 136),
    0 0 80px rgb(0, 255, 136),
    0 0 90px rgb(0, 255, 136),
    0 0 100px rgb(0, 255, 136),
    0 0 150px rgb(0, 255, 136);
}

/* .subhead h2{
    text-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
} */


#pfp:hover{
    transform: scale(1.2);
}

.name:hover{
    transform: scale(1.2);
}

.aboutme:hover{
    transform: scale(1.1);
}

#edud:hover{
    transform: scale(1.2);
}

