::-webkit-scrollbar {
    display: none;
}

body{

    background-image: url("./Resources/bgpic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    transition: background-image 2s;
    font-family: 'Cookie', cursive;
    /* overflow: hidden; */
}

.box{
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#img0{
    margin-top: 18vw;
    height: 35vw;
}

.imgs{
    height: 60vh;
}

.img-cont{
    padding: 2vw;
}

.vid{
    height: 35vw;
}


.header{
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.712);
      backdrop-filter: blur(4px);
      padding: 2vw;
      padding-left: 4vw;
      padding-right: 4vw;
      border-radius: 1.5vw;
      font-weight: 500;
      font-size: 6vw;
      margin: 7vw;
}

  .fade{
      animation: fadeOut 2s;
  }

 .hidden{
     opacity: 0;
 }

.visible{
    transform: translateY(30vw);
      opacity: 1;
      animation: fadeIn 2s;
      animation: RightIn 2s;
      
  }

.view{
    opacity: 1;
    display: block;
    animation: fadeIn 2s;
}

 
 @keyframes fadeIn { /* from 0 to full opacity */
    from {opacity: 0;}
    to {opacity: 1;}
 }

 @keyframes RightIn { /* from 0 to full opacity */
    from {
        margin-left: 100%;
      }
    
      to {
        margin-left: 12%;
      }
 }

 @keyframes LeftIn { /* from 0 to full opacity */
    from {
        margin-right: 100%;
      }
    
      to {
        margin-right: 10%;
      }
 }

#main16{
    margin-top: 15vw;
}

#main22,#main23,#main24{
    margin-top: 15vw;
}

.quote{
    background-color: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(2px);
    color: white;
    margin: 10vw;
    margin-top: 25vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 4vw;
    padding-right: 5vw;
    border-radius: 1.5vw;
    font-weight: 400;

    font-size: 6vw;
}

.msg{
    font-size: 4vw;
}

.name{
    margin-top: 2vw;
    float: right;
    font-size: 5vw;
}